.kepala{
	background-color: #E3E0E0;
	height: 500px;
}

.navigasi{
	height: ;
	text-align: center;
}

.navbar-brand{
	height: auto;
}
.anu{
	height: auto;
	margin-bottom: 0px;
	border: 0px;
}

.anu1{
	border: 0px;
	width: auto;
}

.navbar1{
 margin-left:400px;
}

.navbar2{
 background-color:red;
 margin-top:30px;
}
.menu